/**
 Patternfly css extensions
*/
body.white-bg {
  background-color: #ffffff;
}
body.grey-bg {
  background-color: #f5f5f5;
}
.navbar-pf-vertical .navbar-brand {
  padding: 11px 0 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
  margin: 20px 0 20px;
}

.page-header.no-border {
  border-bottom: none;
}

.page-header .breadcrumb {
  padding: 0px;
}

.blank-slate-pf {
  background-color: #ffffff;
}

.blank-slate-pf.text-left {
  text-align: left;
}

@media (min-width: 992px) {
  .blank-slate-pf {
    padding: 40px 120px;
  }
}

hr {
  border-top: 1px solid #ececec;
}

/* list-view heading override */
.list-view-pf-description .list-group-item-heading.blue-text {
  cursor: pointer;
}

/** list-view icon overrides **/
.list-view-pf-left .pficon.list-view-pf-icon-sm {
  border: 2px solid transparent;
}

.list-view-pf-left .pficon.list-view-pf-icon-info {
  background-color: #f5f5f5;
}

/** list-view dd / dt overrides **/
@media (min-width: 768px) {
  .list-group-item-container .dl-horizontal dt {
  width: 130px;
  }
  .list-group-item-container .dl-horizontal dd {
  margin-left: 150px;
  }
}
/** the bold font weight causes a minor offset gap **/
.dl-horizontal dt {
  margin-top: 1.1px;
}

/** list-view expansion blue to grey override **/
.list-view-pf .list-group-item.list-view-pf-expand-active:first-child {
  border: #bbbbbb 1px solid;
}
.list-view-pf .list-group-item.list-view-pf-expand-active {
  border: #bbbbbb 1px solid;
}
.list-group-item-container {
  border-top: #bbbbbb 1px solid;
}

/** list-pf overrides **/
.list-pf {
  margin-top: 30px;
}
.list-pf-title {
  font-size: 14px;
}
.list-pf-additional-content {
  justify-content: flex-start;
}
.list-pf-left .fa, .list-pf-left .pficon {
  border-radius: 50%;
  font-size: 1.4em;
  text-align: center;
}

.list-pf-left .pficon.list-pf-icon-sm,
.list-pf-left .fa.list-pf-icon-sm {
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.list-pf-left .pficon.list-pf-icon-sm:before,
.list-pf-left .fa.list-pf-icon-sm:before {
  display: block;
  line-height: 30px;
}

.list-pf-left .pficon.list-pf-icon-success,
.list-pf-left .fa.list-pf-icon-success {
  background-color: #e9f4e9;
  color: #3f9c35;
}

.list-pf-left .pficon.list-pf-icon-info,
.list-pf-left .fa.list-pf-icon-info {
  background-color: #f5f5f5;
  color: #8b8d8f;
}

.list-pf-left .pficon.list-pf-icon-danger,
.list-pf-left .fa.list-pf-icon-danger {
  background-color: #ffe6e6;
  color: #cc0000;
}


/** center align alert text */
.alert {
  text-align: center;
}

.blue-text {
  color: #0088ce;
}

/* pf-toolbar overrides */
@media (min-width: 768px){
  .toolbar-pf-actions .toolbar-pf-filter {
    width: 33%;
  }
}

/** why is pf setting display none?? **/
select.selectpicker {
  display: block !important;
}

/*removes kebab padding-top when used in cards */
.card-pf-body .dropdown-kebab-pf .btn-link {
  padding-top: 0;
  margin-top: -2px;
}

.card-pf-body .card-pf-title.blue-text {
  cursor: pointer;
}

.card-pf-view .card-pf-item .fa-times {
  color: #cc0000;
}

/** Dual Pane Selector CSS **/
.dual-pane-selector {
  width: 100%;
  padding: 20px 0;
}

.dual-pane-selector-list-container {
  display: inline-block;
  width: calc(50% - 32px);
  vertical-align: top;
}

.dual-pane-selector-label {
  width: 225px;
}
.dual-pane-selector-label .dual-pane-selector-label-left {
  float: right;
  margin-right: 5px;
}
.dual-pane-selector-label .dual-pane-selector-label-right {
  float: left;
  margin-left: 5px;
}

.dual-pane-selector-list.dual-pane-selector-list-left {
  float: right;
  margin-right: 5px;
}
.dual-pane-selector-list.dual-pane-selector-list-right {
  float: left;
  margin-left: 5px;
}
.dual-pane-selector-list .dual-pane-selector-items-container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 225px;
}
.dual-pane-selector-list .dual-pane-selector-item {
  cursor: pointer;
  padding: 0 10px;
  width: 100%;
}
.dual-pane-selector-list .dual-pane-selector-item .dual-pane-selector-item-select-indicator {
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  vertical-align: middle;
  visibility: hidden;
}
.dual-pane-selector-list .dual-pane-selector-item.selected {
  background-color: #3397db;
  color: #fff;
}
.dual-pane-selector-list .dual-pane-selector-item.selected .dual-pane-selector-item-select-indicator {
  visibility: visible;
}
.dual-pane-selector-list .dual-pane-selector-item:hover {
  background-color: #d4edfa;
  color: #030303;
}
.dual-pane-selector-list .dual-pane-selector-item-container {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: calc(100% - 26px);
}

.dual-pane-selector-button-container {
  display: inline-block;
  padding: 0 10px;
  width: 40px;
}
.dual-pane-selector-button-container .btn-link {
  font-size: 24px;
  text-decoration: none;
}
.dual-pane-selector-button-container .btn-link:hover {
  text-decoration: none;
}
.dual-pane-selector-button-container .btn-link:focus {
  outline: none;
}
.dual-pane-selector-button-container .dual-pane-selector-select-button-container {
  height: 125px;
  position: relative;
}
.dual-pane-selector-button-container .dual-pane-selector-select-button-container.dual-pane-selector-select-button-container-top .btn-link {
  bottom: 10px;
  position: absolute;
}
.dual-pane-selector-button-container .dual-pane-selector-select-button-container.dual-pane-selector-select-button-container-bottom .btn-link {
  position: absolute;
  top: 10px;
}

.dual-pane-selector-count-text {
  /*border: 1px solid rgba(0, 0, 0, 0.3);
  border-top-width: 0; */
  padding-left: 5px;
  min-height: 20px;
}

/** pf-tabs */
ul.nav.nav-tabs.user-tabs {
  margin-bottom: 20px;
}
.nav.nav-tabs .nav.nav-tabs-pf {
  font-size: 12px;
}
.nav.nav-tabs .nav.nav-tabs-pf > li:first-child > a { 
  padding-left: 15px;
}
.nav.nav-tabs .nav.nav-tabs-pf > li:first-child > a:before {
  left: 15px!important;
}

.nav.nav-tabs li,
.nav.nav-tabs li a {
  cursor: pointer;
}

/** pf-tooltip **/
pf-tooltip {
  display: none;
}
.tooltip-label {
  display: inline;
}
.pficon.pficon-info.tooltip-info {
  color: #1589CB;
  font-size:14px;
  padding-left: 10px;
  vertical-align: text-bottom;
}

/** Canvas CSS **/
.canvas {
  border: solid 1px #d1d1d1;
  background-image: url('../img/canvas-dot-grid.png');
  background-repeat: repeat;
}

.canvas-editor-container {
  background-color: #fff;
  height: 100%;
  width: 100%;
}
.canvas-editor-container .canvas-editor-toolbar {
  padding: 15px;
  max-width: 1424px;
}
.canvas-editor-container .canvas-editor-toolbar button {
  margin-right: 6px;
}
.canvas-editor-container .canvas-editor-toolbar .more-actions {
  border-left: solid 2px #d1d1d1;
  margin-left: 6px;
  vertical-align: middle;
}
.canvas-editor-container .canvas-editor-toolbar .right-aligned-controls {
  display: block;
  float: right;
  font-size: 12px;
  font-weight: 600;
  padding-right: 5px;
  padding-top: 2px;
}
.canvas-editor-container .canvas-editor-toolbar a {
  color: #72767b;
  cursor: pointer;
}
.canvas-editor-container .canvas-editor-toolbar .pficon,
.canvas-editor-container .canvas-editor-toolbar .fa {
  font-size: 20px;
  margin-left: 15px;
  margin-top: -4px;
  vertical-align: middle;
}
.canvas-editor-container .canvas-editor-toolbar .fa.fa-angle-double-up,
.canvas-editor-container .canvas-editor-toolbar .fa.fa-angle-double-down {
  font-size: 14px;
}
.canvas-editor-container .canvas-editor-toolbar a.disabled, 
.canvas-editor-container .canvas-editor-toolbar a:hover.disabled {
  color: #bbb;
  cursor: not-allowed;
}

.canvas-editor-container .canvas-editor-toolbox-container {
  height: 100%;
  position: relative;
  width: 100%;
  max-width: 1424px;
}
.canvas-editor-container .canvas-editor-toolbox-container .canvas-editor-toolbox {
  background-color: rgba(255, 255, 255, 0.94);
  border: 1.5px solid #d1d1d1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 26px;
  position: absolute;
  top: -1px;
  width: 100%;
}
.canvas-editor-container .canvas-editor-toolbox-container .canvas-editor-toolbox .close-toolbox {
  font-size: 16px;
  float: right;
  position: relative;
  top: -17px;
  right: -12px;
  color: #72767b;
  cursor: pointer;
}
.canvas-editor-container .canvas-editor-toolbox-container .canvas-editor-toolbox .tab-pre-title {
  font-size: 12px;
  margin-bottom: -6px;
  cursor: pointer;
}
.canvas-scroll-toolbox {
  margin-left: 15px;
  width: 98%;
  max-width: 1396px;
  min-height: 72px;
  border: 1px solid #d1d1d1;
  border-bottom: none;
  overflow-x: scroll;
}
.canvas-scroll-toolbox.drag {
  border: none;
}
.canvas-scroll-toolbox .toolbox-items-list {
  overflow-x: auto;
  white-space: nowrap;
}
.canvas-scroll-toolbox .toolbox-items-list .toolbox-item {
  display:inline-block;
  height:52px;
  float: none;
  min-width: 240px;
  padding-right: 15px;
}
.canvas-scroll-toolbox .toolbox-items-list .toolbox-item .toolbox-item-container {
  position: relative;
}
.btn-icon {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  text-shadow: none;
  line-height: 1;
}
.canvas-scroll-toolbox .toolbox-items-list .toolbox-item .toolbox-item-container .icon {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  text-shadow: none;
  opacity: .6;
  font-size: 18px;
  line-height: 1;
}
.canvas-scroll-toolbox .toolbox-items-list .toolbox-item .toolbox-item-container .icon:hover {
  color: #000;
}
.canvas-scroll-toolbox .toolbox-items-list .toolbox-item .toolbox-item-container .edit-btn {
  position: absolute;
  right: 23px;
  top: 0px;
}
.canvas-scroll-toolbox .toolbox-items-list .toolbox-item .toolbox-item-container .close-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 20px;
}
.canvas-scroll-toolbox .toolbox-items-list .toolbox-item .toolbox-item-container .close-btn span {
  top: 0px;
}
.canvas-editor-toolbox .tab-title {
  font-size: 14px;
  cursor: pointer;
}
.canvas-editor-toolbox .toolbox-items-list {
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
  padding-bottom: 4px;
  padding-left: 15px;
}
.canvas-editor-toolbox .toolbox-item {
  background-color: rgba(255, 255, 255, 0.94);
  border-radius: 1px;
  border: 1px solid #bbb;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: move;
  float: left;
  height: 36px;
  margin-right: 16px;
  margin-top: 16px;
  min-height: 52px;
  min-width: 325px;
  padding: 6px 28px;
  position: relative;
  vertical-align: middle;
}
.canvas-editor-toolbox .toolbox-item::before {
  background-image: linear-gradient(to bottom, #0088ce 60%, #fff 0%);
  background-position: left;
  background-repeat: repeat-y;
  background-size: 2px 5px;
  border: 4px solid #0088ce;
  bottom: 4px;
  content: '';
  left: 4px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.canvas-editor-toolbox .toolbox-item img {
  margin-right: 8px;
  object-fit: contain;
  height: 38px;
}
.canvas-editor-toolbox .draggable-item-icon {
  font-size: 28px;
  padding-right: 14px;
  padding-top: 6px;
  vertical-align: middle;
}
.canvas-editor-toolbox .toolbox-item span {
  position: relative;
  top: 4px;
}
.canvas-editor-toolbox-container .canvas-panel {
  background-color: rgba(255, 255, 255, 0.94);
  border: 1.5px solid #d1d1d1;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 20px;
  right: 27px;
  width: 250px;
  min-height: 450px;
}
.canvas-editor-toolbox-container .canvas-panel.stages-panel {
  min-height: 343px;
}
.canvas-editor-toolbox-container .canvas-panel .canvas-panel-heading {
  padding: 5px 15px;
  border-bottom: 1.5px solid #d1d1d1;
  background-color: #f5f5f5;
}
.canvas-editor-toolbox-container .canvas-panel .canvas-panel-body {
  padding: 25px 15px;
}
.canvas-editor-toolbox-container .canvas-container {
  height: 756px;
  margin-left: 15px;
  overflow: auto;
  width: 98%;
}
.pficon.pficon.pficon-add-circle-o {
  color: #9c9c9c;
}
.stage-canvas .node-rect {
  fill: #fff;
}
.read-only {
  background-image: none !important;
  background-repeat: unset !important;
}
.canvas-in-connection-mode {
  background-image: none !important;
  background-repeat: unset !important;
  background-color: #bbb;
}
.node-header {
  display: table;
  font-weight: 600;
  cursor: default;
  font-size: 15px;
}
.node-header p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.node-label {
  font-weight: 400;
  cursor: default;
  font-size: 14px;
}
.node-label p {
  text-align: center;
  margin: auto;
}

.node-button {
  font-weight: 400;
  cursor: default;
  text-align: center;
}
.node-button button {
  margin: auto;
  font-size: 14px;
}

.invalid-node-header {
  fill: #bbb;
  color: #bbb;
}
.node-center-icon {
  font-size: 72px;
  cursor: default;
}
.bundle-icon {
  cursor: default;
}
.close-icon {
  cursor: pointer;
  color: #626262;
  fill: #626262;
}
.close-icon:hover {
  color: #000;
  fill: #000;
}
.node-rect {
  stroke-width: 2;
  stroke: #bbb;
}
.node-rect.dashed {
  stroke-dasharray: 10 5;
}
.invalid-node-rect {
  fill: #d1d1d1;
}
.invalid-node-img {
  opacity: 0.2;
}
.node-toolbar {
  background-color: #f5f5f5;
  border-bottom: solid 1px #bbb;
  border-left: solid 1px #bbb;
  border-radius: 5px;
  border-right: solid 1px #bbb;
  height: 28px;
  padding-left: 8px;
}
.node-toolbar-icons {
  color: #0088ce;
  cursor: pointer;
  font-size: 16px;
  padding-right: 16px;
  padding-top: 4px;
}
.svg-triangle polyline {
  fill: #f5f5f5;
  stroke-width: 2;
  stroke: #bbb;
}
.connecting-mode-rec {
  fill: #8b8d8f;
}
.connecting-mode-label {
  fill: #fff;
  font-size: 16px;
}
.connecting-mode-label-warning {
  fill: #cc0000;
  font-size: 16px;
}
.connector-icons {
  cursor: pointer;
  fill: #0088ce;
  font-size: 16px;
}
.connector-icons:hover {
  fill: #063451;
}
.mouseover-node-rect {
  stroke-width: 3;
  stroke: #bbb;
}
.selected-node-rect {
  stroke-width: 3;
  stroke: #0088ce;
}
.connector-tooltip {
  fill: #f5f5f5;
  stroke-width: 1;
  stroke: #030303;
}
.connector-tooltip-text {
  font-size: 10px;
}
.connector-circle {
  fill: #fff;
  stroke-width: 2;
  stroke: #030303;
}
.mouseover-connector-circle {
  fill: #fff;
  stroke-width: 3;
  stroke: #030303;
}
.unconnected-circle {
  fill: #2d7623;
  stroke-opacity: "0.8";
  stroke-width: 2;
  stroke: #030303;
}
.mouseover-unconnected-circle {
  fill: #2d7623;
  stroke-opacity: "0.8";
  stroke-width: 3;
  stroke: #030303;
}
.connection-line {
  fill: transparent;
  stroke-width: 4;
  stroke: #8b8d8f;
}
.mouseover-connection-line {
  fill: transparent;
  stroke-width: 6;
  stroke: #8b8d8f;
}
.selected-connection-line {
  fill: transparent;
  stroke-width: 4;
  stroke: #cc0000;
}
.connection-endpoint {
  fill: #8b8d8f;
}
.selected-connection-endpoint {
  fill: #cc0000;
}
.mouseover-connection-endpoint {
  fill: #8b8d8f;
}
.connection-name {
  fill: #030303;
}
.selected-connection-name {
  fill: #cc0000;
}
.mouseover-connection-name {
  fill: #030303;
}
.dragging-connection {
  pointer-events: none;
}
.dragging-connection-line {
  fill: transparent;
  stroke-width: 3;
  stroke: #8b8d8f;
}
.dragging-connection-endpoint {
  fill: #8b8d8f;
}
.draggable-container {
  border: solid 1px #d1d1d1;
}
.drag-selection-rect {
  fill: transparent;
  stroke-width: 2;
  stroke: #0088ce;
}
.node-dialog-close {
  font-size: 12px;
  padding-top: 7px;
}
.nodetoolbar-dialog {
  left: -19px;
  margin-top: 4px;
  padding: 8px;
  position: fixed;
  top: 19px;
  width: 300px;
}
.nodetoolbar-dialog .tag-list-action {
  color: #fff;
  cursor: pointer;
}
.tag-dialog {
  left: 30px;
  width: 353px;
}
.node-tag-title {
  font-weight: 600;
  padding-bottom: 12px;
  padding-top: 12px;
}

/**
  Provider image select
*/
.provider-image {
  width: 90px; 
  height: 63px; 
  line-height: 63px; 
  text-align: center; 
  display: inline-block; 
  vertical-align: middle;
}