/**
 Patternfly css extensions
*/
.navbar-pf-vertical .navbar-brand {
  padding: 11px 0 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
  margin: 20px 0 20px;
}

.page-header.no-border {
  border-bottom: none;
}

.page-header .breadcrumb {
  padding: 0px;
}

.blank-slate-pf {
  background-color: #ffffff;
}

.blank-slate-pf.text-left {
  text-align: left;
}

@media (min-width: 992px) {
  .blank-slate-pf {
    padding: 40px 120px;
  }
}

hr {
  border-top: 1px solid #ececec;
}

.list-view-pf-left .pficon.list-view-pf-icon-sm {
  border: 2px solid transparent;
}

.list-view-pf-left .pficon.list-view-pf-icon-info {
  background-color: #f5f5f5;
}

/** why is pf setting display none?? **/
select.selectpicker {
  display: block !important;
}

/*removes kebab padding-top when used in cards */
.card-pf-body .dropdown-kebab-pf .btn-link {
  padding-top: 0;
  margin-top: -2px;
}